/* setting background image */
body {
    background-image: url("../img/neuron2.jpg");
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: cover;
   }

   @media only screen and (min-hight: 1334px) {
    body {
      /* The file size of this background image is 93% smaller
         to improve page load speed on mobile internet connections */
      background-image: url("../img/neuron2_mobile.jpg");
    }
  }

   #rectangle {
       background-color: #FDFFF5;
       padding: 70px;
       width: 750px;
       height: 400px;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   h1 {
       font-weight: bold;
       font-size: 50px;
       text-align: center;
   }

   h2 {
       font-size: 20px;
       text-align: center;
   }

   h3 {
       font-size: 30px;
       text-align: center;
   }

   .whoiam {
        text-align: center;
        margin-top: 70px;
   }

   a {
    color: black;
    font-weight: bold;
   }

   a:hover {
       color: grey;
       text-decoration: none;
   }

   .smlink {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
   }

   img.footer {
       width: 2%;
       margin: 3px;
   }

   img.footer:hover {
       opacity: 70%;
   }

   /* html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */