body {
    background-color: #FDFFF5;
}

.imgproj {
    opacity: 60%;
    width: 35%;
}

.imgproj:hover {
    opacity: 100%;
}

.smlink {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
   }

   img.footer {
       width: 2%;
       margin: 3px;
   }

   img.footer:hover {
       opacity: 70%;
   }
/* 
   .row {
       margin: 5px;
       text-align: center;
   } */

   .container {
       margin-top: 50px;
   }

   /* .col {
       margin: 10px;
   } */

   h1 {
    /* font-weight: bold; */
    color: #FDFFF5;
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

   h2 {
    color: #FDFFF5;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

#logo {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
}

img.logo {
    width: 35%;
}

#rectangle_black {
    background-color: #141413;
    padding: 70px;
    width: 750px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
}

img.logo {
    width: 35%;
}

.whoiam {
    text-align: center;
    margin-top: 70px;
}

a {
    color: #FDFFF5;
    font-weight: bold;
   }

   a:hover {
       color: grey;
       text-decoration: none;
   }

   #planet-link-img {
    width: 265px;
    opacity: 60%;
   }

   #planet-link-img:hover {
    opacity: 100%;
   }

   #cities-link-img {
       margin-left: 20px;
    width: 265px;
    opacity: 60%;
   }

   #cities-link-img:hover {
    opacity: 100%;
   }

   html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#text-over1 {
    color: #FDFFF5;
    font-weight: bold;
    text-align: center;
    z-index: 100; 
    position: absolute; 
    top: 0px;
    left: 0px;
    color: whitw;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

#text-over2 {
    color: #FDFFF5;
    font-weight: bold;
    text-align: center;
    z-index: 100; 
    position: absolute; 
    top: 0px;
    left: 0px;
    color: whitw;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

#cities-link-img:hover + p#text-over2 {
    color: blue;
}

#planet-link-img:hover + p#text-over1 {
    color: white;
}