  #logo {
      margin-top: 40px;
      margin-left: 50px;
      margin-bottom: 40px;
  }

  img.logo {
      width: 35%;
  }
  
  
  h1 {
       font-weight: bold;
       font-size: 50px;
       text-align: center;
   }

   h2 {
       font-size: 20px;
       text-align: center;
   }

   h3 {
       font-size: 30px;
       text-align: center;
   }


   a {
    color: black;
    font-weight: bold;
   }

   a:hover {
       color: grey;
       text-decoration: none;
   }

   .smlink {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
   }

   img.footer {
       width: 2%;
       margin: 3px;
   }

   img.footer:hover {
       opacity: 70%;
   }

   #navbar {
       margin-top: 50px;
       text-align: right;
   }

   .navitem {
       margin-right: 20px;;
   }

   #paragraph1 {
       margin-left: 55px;
       margin-top: 30px;
       /* margin-bottom: 30px; */
   }

   #paragraph2 {
    /* margin-left: 55px; */
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
    }

    #about {
        margin-left: 55px;
        margin-top: 30px;
        text-align: right;   
    }

    /* #paragraph3 {
        margin-left: 55px;
        margin-top: 35px;
    } */

    /* #color1 {
        background-color: #E2F0CB;
    }

    #color2 {
        background-color: #B5EAD7;
    }

    #color3 {
        background-color: #C7CEEA;
    } */