<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    
    <!-- Bootstrap style link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  custom css file  -->
    <link rel="stylesheet" href="../css/style_about.css">
    
</head>
<body>
    <!-- <div class="container"> -->
        
        <!-- first row with Logo and Navbar -->
        <div class="row">
            <div class="col-3">
                <div id="logo">
                    <a href="../index.html"><img class="logo" src="../img/is_icon2.png"></a>
                </div>    
            </div>
            <div class="col-3"></div>
            <div id="navbar" class="col-4">
                <a class="navitem" href="projects2.html">PROJECTS</a>
                <!-- <a class="navitem" href="">BLOG</a> -->
                <a class="navitem" href="../uploads/resume.pdf" target="_blank">RESUME</a>

            </div>

        </div>
        
        <!-- second row with paragraphs -->
        <div class="row" id="about"><h2>ABOUT ME</h2></div>
        <div class="row" id="color1">
            <div id="paragraph1" class="col-8">
                <p>I am a Data Science enthusiast with 10+ years of interdisciplinary experience in IT, Product Management and Marketing, and Sales Analytics in Europe, Asia and North America having worked with customers from various industries like Healthcare, Finance, Telecom and Public Sector. I have constant thirst for new knowledge and challenge myselft to learn something new everyday.</p>
                <!-- <p>I am passionate about sports and have finnished several Ironman Triathlon races. I swam from Asia to Europe and crossed Bosphorus strait twice, becoming a cross-continental swimmer.</p> -->
            </div>
        </div>
        <!-- <div class="row" id="color2">
            <div class="col-3"></div>
            <div id="paragraph2" class="col-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div> -->
        <div class="row" id="color3">
            <div id="paragraph1" class="col-7">
                <ul>
                    <li>Data Analytics Certificate from University of Toronto, Canada</li>
                    <li>Master’s Degree in Economics from Moscow State University, Russia</li>
                    <li>Well-organized and self-motivated with ability to work independently</li>
                    <li>Goal oriented data driven critical thinker, problem solver and storyteller</li>
                    <li>Proficient in Python, JavaScript, SQL/noSQL databases, Jupyter Notebook, Pandas, Matplotlib, Tableau, Power BI</li>
                    <li>Competent in Machine Learning, TensorFlow, Spark, scikit-learn, Big Data, AWS, Google Cloud</li>
                </ul>
            </div>
        </div>





    <!-- </div> -->


    

    <div class="smlink">
        <a href="https://www.linkedin.com/in/ireneshtepa/" target="_blank"><img class="footer" src="../img/linkedin_2.png"></a>
        <a href="https://github.com/ireneshtepa" target="_blank"><img class="footer" src="../img/cat.png"></a>
        <a href=""><img src=""></a>
    </div>

    
</body>

<footer>

</footer>
</html>

<!-- <iframe src="https://onedrive.live.com/embed?cid=74818D2CC2EE85DA&resid=74818D2CC2EE85DA%2127211&authkey=AG595u3EI3z1H0o&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe> -->