<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    
    <!-- Bootstrap style link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  custom css file  -->
    <link rel="stylesheet" href="../css/style_about.css">
    
</head>
<body>
    <!-- <div class="container"> -->
        
        <!-- first row with Logo and Navbar -->
        <div class="row">
            <div class="col-3">
                <div id="logo">
                    <a href="../index.html"><img class="logo" src="../img/is_icon2.png"></a>
                </div>    
            </div>
            <div class="col-3"></div>
            <div id="navbar" class="col-4">
                <a class="navitem" href="projects2.html">PROJECTS</a>
                <!-- <a class="navitem" href="">BLOG</a> -->
                <a class="navitem" href="../uploads/resume.pdf" target="_blank">RESUME</a>

            </div>

        </div>
        
        <!-- second row with paragraphs -->
        <!-- <div class="row" id="color1">
            <div class="col-4"></div>
            <div id="paragraph1" class="col-7">
                <h2>ABOUT ME</h2>
                <p>I am a Data Science enthusiast with 10+ years of interdisciplinary experience in IT, Product Management and Marketing, and Sales Analytics in Europe, Asia and North America having worked with customers from various industries like Healthcare, Finance, Telecom and Public Sector. I have constant thirst for new knowledge and challenge myselft to learn something new everyday.</p>
                <p>I am passionate about sports and have finnished several Ironman Triathlon races. I swam from Asia to Europe and crossed Bosphorus strait twice, becoming a cross-continental swimmer.</p>
            </div>
        </div> -->
     
        <div class="row">
            <div class="col-4">
                <img title="Portfolio picture" src="../img/portfolio_pic.png" class="portolio_pic">
            </div>
            <div id="paragraph1" class="col-6">
                <table style="width:100%">
                    <tr>
                        <h2>ABOUT ME</h2>
                        <p>I am a Data Science enthusiast with 10+ years of interdisciplinary experience in IT, Product Management and Marketing, and Sales Analytics in Europe, Asia and North America having worked with customers from various industries like Healthcare, Finance, Telecom and Public Sector. I have constant thirst for new knowledge and challenge myselft to learn something new everyday.</p>
                    </tr>

                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_1.png"></td>
                        <td><p class="img_text">Data Analytics Certificate from University of Toronto, Canada</p></td>
                    </tr>
        
                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_2.png"></td>
                        <td><p class="img_text">Master’s Degree in Economics from Moscow State University, Russia</p></td>
                    </tr>

                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_3.png"></td>
                        <td><p class="img_text">Well-organized and self-motivated with ability to work independently</p></td>
                    </tr>

                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_4.png"></td>
                        <td><p class="img_text">Goal oriented data driven critical thinker, problem solver and storyteller</p></td>
                    </tr>

                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_5.png"></td>
                        <td><p class="img_text">Proficient in Python, JavaScript, SQL/noSQL databases, Jupyter Notebook, Pandas, Matplotlib, Tableau, Power BI</p></td>
                    </tr>

                    <tr>
                        <td class="td_img"><img class="icon_style" src="../img/icon_6.png"></td>
                        <td><p class="img_text">Competent in Machine Learning, TensorFlow, Spark, scikit-learn, Big Data, AWS, Google Cloud</p></td>
                    </tr>
        
                  </table>
            </div>
        </div>  

        <!-- <div class="row" id="color3">
            <div id="paragraph1" class="col-7">
                <ul>
                    <li class="icon_1">Data Analytics Certificate from University of Toronto, Canada</li>
                    <li class="icon_2">Master’s Degree in Economics from Moscow State University, Russia</li>
                    <li class="icon_3">Well-organized and self-motivated with ability to work independently</li>
                    <li class="icon_4">Goal oriented data driven critical thinker, problem solver and storyteller</li>
                    <li class="icon_5">Proficient in Python, JavaScript, SQL/noSQL databases, Jupyter Notebook, Pandas, Matplotlib, Tableau, Power BI</li>
                    <li class="icon_6">Competent in Machine Learning, TensorFlow, Spark, scikit-learn, Big Data, AWS, Google Cloud</li>
                </ul>
            </div>
        </div> -->


    <!-- </div> -->


    

    <div class="smlink">
        <a href="https://www.linkedin.com/in/ireneshtepa/" target="_blank"><img class="footer" src="../img/linkedin_2.png"></a>
        <a href="https://github.com/ireneshtepa" target="_blank"><img class="footer" src="../img/cat.png"></a>
        <a href=""><img src=""></a>
    </div>

    
</body>

<footer>

</footer>
</html>

<!-- <iframe src="https://onedrive.live.com/embed?cid=74818D2CC2EE85DA&resid=74818D2CC2EE85DA%2127211&authkey=AG595u3EI3z1H0o&em=2" width="476" height="288" frameborder="0" scrolling="no"></iframe> -->
