<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irene Shtepa Portfolio</title>
    
    <!-- Bootstrap style link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  custom css file  -->
    <link rel="stylesheet" href="../css/style_projects.css">
    
</head>
<body>
    <div class="row">
    <div class="col-3">
        <div id="logo">
            <a href="../index.html"><img class="logo" src="../img/is_icon2.png"></a>
        </div>    
    </div>
    </div>

    <div id="rectangle_black">
        <table style="width:100%">


            <tr>
              <td><a id="planet-link" href="https://github.com/ireneshtepa/Project_planet_on_fire" target="_blank"><img id="planet-link-img" src="../img/planet_fire_orange.png"></a></td>
              <td><a id="cities-link" href="https://github.com/ireneshtepa/Project_tech_and_cities" target="_blank"><img id="cities-link-img" src="../img/techcities_round_blue1.png"></a></td>
            </tr>

            <tr>
                <td><p class="planet">PLANET ON FIRE</p></td>
                <td><p class="cities">TECH AND CITIES</p></td>
              </tr>

          </table>
        <!-- <h2>CREATING A STORY TOLD BY DATA</h2> -->
        <!-- <div clss="container">
            <div class="row">
                
            </div>
            <div class="col">
                
                
                
                
             </div>
        </div> -->
    <!-- <h1>COMING SOON</h1> -->
        <!-- <h2>MORE TO COME!</h2> -->
        <!-- <div class="whoiam">
            <a href="mailto:irene.shtepa@gmail.com"><p>CONTACT</p></a>
        </div>     -->
    </div>

    <div class="smlink">
        <a href="https://www.linkedin.com/in/ireneshtepa/" target="_blank"><img class="footer" src="../img/linkedin_2.png"></a>
        <a href="https://github.com/ireneshtepa" target="_blank"><img class="footer" src="../img/cat.png"></a>
        <a href=""><img src=""></a>
    </div>

    
</body>

<footer>

</footer>
</html>