<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irene Shtepa Portfolio</title>
    
    <!-- Bootstrap style link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--  custom css file  -->
    <link rel="stylesheet" href="../css/style_projects.css">
    
</head>
<body>
    <!-- <div class="row">
        <div class="col-3">
            <div id="logo">
                <a href="../index.html"><img class="logo" src="../img/is_icon.png"></a>
            </div>    
        </div>
        <div class="col6">
            <h2>PROJECTS</h2>
        </div>
    </div> -->

    <div class="col6">
        <h1>PROJECTS</h1>
    </div>
    
    <div class="container">    
        <div class="row">
            <div class="col">
                <a href=""><img class="imgproj" src="../img/planet_on_fire_text.jpg"></a>
                <a href=""><img class="imgproj" src="../img/planet_on_fire.JPG"></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href=""><img class="imgproj" src="../img/planet_on_fire.JPG"></a>
                <a href=""><img class="imgproj" src="../img/planet_on_fire.JPG"></a>
            </div>
        </div>
    </div>
    
    <div class="smlink">
        <a href="https://www.linkedin.com/in/ireneshtepa/" target="_blank"><img class="footer" src="../img/linkedin_2.png"></a>
        <a href="https://github.com/ireneshtepa" target="_blank"><img class="footer" src="../img/cat.png"></a>
        <a href=""><img src=""></a>
    </div>
    
    
</body>

<footer>

</footer>
</html>